@*
this means the page will not be using the default layout we have set
*@


@{
Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>demo app</title>
</head>

<body>
  <h1>hello this the home view thing here </h1>

</body>

</html>
