@*
This block runs server-side before the page is rendered.
It sets the "Title" metadata that can be used in the layout or elsewhere in the view.
ViewData is a dictionary that allows passing data from the view to the layout.
*@


@{
ViewData["Title"] = "Index";
}

@*
The content below is HTML that will be rendered in the browser.
Since this view uses a layout (via _Layout.cshtml), only the unique content here
will replace @RenderBody() in the layout when sent to the client.
*@


<h1>This is the Index file in student thingy</h1>

<a class="btn btn-primary" href="#">Primary Button</a>
<button class="btn btn-success">Success Button</button>
